.settings
.project
.classpath
.metadata
.recommenders
.factorypath

# versions file checked out by vars/verifyTemplateVersion.groovy
versions.txt

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
movie-api/log/

movie-api/target/
target/


*.log
# vim
*~

# binary files should be generated locally
*.avro

# git merge temporary files
*.orig

# cygwin
*.stackdump

# terraform state files (should use remote)
*.tfstate
*.tfstate.backup
.terraform/
*.springBeans
movie-api-tests/test-output/